alias minion='cd {{ MINION_DIR }}'
alias backend='cd {{ MINION_BACKEND_DIR }}'
alias frontend='cd {{ MINION_FRONTEND_DIR }}'
alias plugins='cd {{ MINION_PLUGINS_DIR }}'
alias env='source {{ MINION_DIR }}/env/bin/activate'
alias super='sudo supervisorctl -c /etc/supervisor/supervisord.conf'
alias startsuper='sudo supervisord -c /etc/supervisor/supervisord.conf'
